.col-12 {
    padding: 0 20px;
    width: 1110px;
    max-width: 100%;
    margin: 0 auto;
}

.col-8 {
    width: 760px;
    max-width: 90%;
    margin: 0 auto;
}

@media all and (min-width: 60em) {
    .col-12 {
        display: flex;
    }
    .col-10 {
        width: 880px;
        padding-left: 25px;
    }
    .col-2 {
        width: 160px;
        padding-left: 5px;
    }
    .col-6 {
        width: 525px;
        padding: 0 10px 0 0;
        margin-left: 5px;
    }
    .col-6+.col-6 {
        padding: 0 0 0 10px;
    }
    .col-6-full {
        margin: 0 auto;
        padding: 0;
    }
}