.col-12 {
    padding: 0 20px;
    width: 1110px;
    max-width: 100%;
    margin: 0 auto;
}

.col-8 {
    width: 700px;
    max-width: 90%;
    margin: 0 auto;
}

@media all and (min-width: 60em) {
    .col-12 {
        display: flex;
    }
    .col-10 {
        width: calc(1100px / 12 * 10);
        padding-right: 10px;
    }
    .col-2 {
        width: calc(1100px / 12 * 2);
        padding-left: 10px;
    }
    .col-6 {
        width: calc(1100px / 12 * 5);
        padding: 0 10px 0 0;
    }
    .col-6+.col-6 {
        padding: 0 0 0 10px;
    }
    .col-6-full {
        margin: 0 auto;
        padding: 0;
    }
}