/* main colors */

$red: #eb4545;
$blue: #1000ff;
$golden: #d5af4e;
$black: #000;
$white: #fff;

/* other colors */

$yellow: #fed100;
$bluegreen: #70CCCB;
$poisonyellow: #E6F14B;
$pink: #d51055;
$lightblue: #d4f0f1;
$lightgreen: #c3e4d9;

/* gradients */

$grad-citrus: linear-gradient(135deg, rgba(112, 204, 203, 1) 0%, rgba(230, 241, 75, 1) 100%);
$grad-purple: linear-gradient(135deg, rgba(112, 204, 203, 1) 0%, rgba(213, 16, 85, 1) 100%);
$grad-sea: linear-gradient(135deg, rgba(212, 240, 241, 1) 0%, rgba(195, 228, 217, 1) 100%);

/* grid */

$columns: 12;
$column-width: 70px;
$gutter: 20px;
$max-width: 1100px;