.section-about {
    background: $grad-citrus;
    h2 {
        padding: 40px 0 0 0;
        color: $golden;
        text-transform: uppercase;
    }
    .webnav {
        padding: 30px 0 80px 0;
    }
}