.section-plotline {
    padding: 0 0 70px 0;
    .header-xl {
        background-color: $red;
        text-align: center;
        color: $blue;
        padding: 30px 0;
        text-transform: uppercase;
    }
}

.plotline-list {
    display: flex;
    flex-wrap: wrap;
    div {
        background: $blue;
        color: $white;
        margin: 10px;
        padding: 10px;
    }
    p {
        margin-top: 10px;
    }
}

@media all and (min-width: 40em) {
    .plotline-list div {
        width: calc(50% - 20px);
    }
}

@media all and (min-width: 60em) {
    .plotline-list div {
        width: 340px;
        margin: 120px 5px;
    }
}

.plotline-episodes-list {
    display: none;
}


/* enhanced version */

.map {
    display: none;
}

@media all and (min-width: 730px) {
    .enhanced {
        .plotline-list {
            position: relative;
            min-height: 500px;
            .map {
                display: block;
            }
            .map svg {
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                margin: 0 auto;
            }
            [data-city-path],
            [data-city-plane],
            [data-city-point] {
                opacity: 0;
            }
            [data-city-path],
            [data-city-point] {
                transition: all 660ms ease-in-out;
            }
            path[data-city-path][data-active] {
                opacity: 1;
            }
            path[data-city-plane][data-active] {
                opacity: 1;
            }
            path[data-city-point][data-active] {
                opacity: 1;
            }
            path[data-city-plane="kinshasa"].revert {
                transform: translate(129px, 2px) rotate(84deg);
                transform-origin: center center;
            }
            div {
                position: absolute;
                opacity: 0;
                transition: all 400ms ease-in-out;
            }
            div[data-active] {
                opacity: 1;
            }
        }
        .plotline-episodes-list {
            position: absolute;
            bottom: 0;
            left: 0;
            display: flex;
            right: 0;
            max-width: 90%;
            width: 900px;
            margin: 0 auto;
            li {
                width: 20%;
                margin: 0 10px;
            }
            button {
                border: none;
                color: $black;
                padding: 8px;
                width: 100%;
                cursor: pointer;
                border: 4px solid transparent;
                border-image: $grad-purple;
                border-image-slice: 1;
                background: $white;
                transtion: all .2s ease-in-out;
                &:hover,
                &:focus {
                    background: $grad-purple;
                    color: $white;
                }
            }
        }
    }
}

#test {
    fill: red;
}