.section-protagonists {
    .header-xl {
        background-color: $red;
        text-align: center;
        color: $blue;
        padding: 30px 0;
        text-transform: uppercase;
    }
}

.protagonists-list {
    padding: 30px 16px 70px 16px;
    display: flex;
    flex-wrap: wrap;
    li {
        display: block;
        width: 100%;
        margin: 10px;
        padding: 10px;
        overflow: hidden;
        min-height: 246px;
        z-index: 1;
        overflow: hidden;
        position: relative;
        div {
            transform: translateY(186px);
            transition: all 400ms ease-in-out;
            color: $white;
        }
        &:before {
            content: "";
            position: absolute;
            left: 0;
            right: 0;
            bottom: 0;
            top: 0;
            background: rgba(127, 127, 127, 0);
            transition: all 300ms ease-in-out;
        }
        &:after {
            content: "";
            position: absolute;
            left: 0;
            right: 0;
            bottom: 0;
            top: 0;
            background-size: contain;
            background-repeat: no-repeat;
            background-position: center center;
            z-index: -2;
            transition: all 400ms ease-in-out;
        }
        &:hover:after {
            transform: scale(1.1);
        }
        &:hover:before {
            background: rgba(127, 127, 127, 0.6);
        }
        h3 {
            padding: 0 0 20px 0;
        }
        &:hover div {
            transform: translateY(0);
        }
    }
}

.protagonists-list {
    li {
        &.protagonist-1:after {
            background-image: url(./static/wendy-bashi-protagonist.jpg);
        }
        &.protagonist-2:after {
            background-image: url(./static/pascal-capitolin-protagonist.jpg);
        }
        &.protagonist-3:after {
            background-image: url(./static/adrian-dausend-protagonist.jpg);
        }
        &.protagonist-4:after {
            background-image: url(./static/tracy-gbiayu-protagonist.jpg);
        }
        &.protagonist-5:after {
            background-image: url(./static/alex-gerbaulet-protagonist.jpg);
        }
        &.protagonist-6:after {
            background-image: url(./static/patrizia-herberger-protagonist.jpg);
        }
        &.protagonist-7:after {
            background-image: url(./static/tshoper-kabambi-protagonist.jpg);
        }
        &.protagonist-8:after {
            background-image: url(./static/patrick-ken-kalala-protagonist.jpg);
        }
        &.protagonist-9:after {
            background-image: url(./static/jana-keuchel-protagonist.jpg);
        }
        &.protagonist-10:after {
            background-image: url(./static/julia-kim-protagonist.jpg);
        }
        &.protagonist-11:after {
            background-image: url(./static/wilfried-luzele-lovalova-protagonist.jpg);
        }
        &.protagonist-12:after {
            background-image: url(./static/madhi-kwete-madikumu-protagonist.jpg);
        }
        &.protagonist-13:after {
            background-image: url(./static/daniel-mbezo-protagonist.jpg);
        }
        &.protagonist-14:after {
            background-image: url(./static/goitseone-montsho-protagonist.jpg);
        }
        &.protagonist-15:after {
            background-image: url(./static/anthony-muzuyi-golden-boy-protagonist.jpg);
        }
        &.protagonist-16:after {
            background-image: url(./static/cedrick-nzolo-demi-dieu-protagonist.jpg);
        }
        &.protagonist-17:after {
            background-image: url(./static/lydie-okosa-protagonist.jpg);
        }
        &.protagonist-18:after {
            background-image: url(./static/titi-saidi-protagonist.jpg);
        }
        &.protagonist-19:after {
            background-image: url(./static/beaute-sauvage-protagonist.jpg);
        }
        &.protagonist-20:after {
            background-image: url(./static/chris-shongo-protagonist.jpg);
        }
        &.protagonist-21:after {
            background-image: url(./static/djo-shongo-protagonist.jpg);
        }
        &.protagonist-22:after {
            background-image: url(./static/shaggy-pigeon-de-la-terre-protagonist.jpg);
        }
        &.protagonist-23:after {
            background-image: url(./static/irene-tshibola-protagonist.jpg);
        }
        &.protagonist-24:after {
            background-image: url(./static/dorothee-wenner-protagonist.jpg);
        }
        &.protagonist-25:after {
            background-image: url(./static/marly-yamba-protagonist.jpg);
        }
        &.protagonist-26:after {
            background-image: url(./static/zimu-zhang-protagonist.jpg);
        }
    }
}

@media all and (min-width: 40em) {
    .protagonists-list li {
        width: calc(50% - 20px);
    }
}

@media all and (min-width: 60em) {
    .protagonists-list li {
        width: calc(33.333% - 20px);
    }
}

@media all and (max-width: 640px) {
    .protagonists-list li {
        max-width: 300px;
        margin: 0 auto;
    }
}