.dialog-overlay {
    z-index: 2;
    background-color: rgba(0, 0, 0, 0.66);
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

.dialog-content {
    background-color: $black;
    z-index: 3;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    iframe {
        max-width: 100%;
    }
}

.dialog-content {
    padding: 1em;
    max-width: 90%;
    width: 600px;
    border-radius: 2px;
}

@media screen and (min-width: 700px) {
    .dialog-content {
        padding: 2em;
    }
}

.dialog-overlay {
    background-color: rgba(43, 46, 56, 0.9);
}

.dialog h1 {
    margin: 0;
    font-size: 1.25em;
}

.dialog-close {
    position: absolute;
    top: 10px;
    right: 10px;
    border: 0;
    padding: 0;
    background-color: transparent;
    font-weight: bold;
    font-size: 1.25em;
    width: 1.2em;
    height: 1.2em;
    text-align: center;
    cursor: pointer;
    transition: 0.15s;
    font-size: 30px;
    color: $golden;
}