.section-about {
    background-color: $lightgreen;
    h2 {
        padding: 40px 0 0 0;
        color: $golden;
        text-transform: uppercase;
    }
    .webnav {
        padding: 30px 0 40px 0;
    }
}