.section-episodes {
    background-color: $black;
    color: $white;
    a {
        color: $white;
        text-decoration: none;
    }
    .header-xl {
        background-color: $red;
        text-align: center;
        color: $blue;
        padding: 30px 0;
        text-transform: uppercase;
    }
}

.episode-date {
    background: transparent url(./build/media/eye-icon.png) no-repeat left center;
    background-size: 30px 30px;
    padding-left: 40px;
}

.episodes-list {
    padding: 30px 16px;
    display: flex;
    flex-wrap: wrap;
    h3:before {
        content: "";
        width: 37px;
        height: 38px;
        background: transparent url(./build/media/video-play.png) no-repeat 0 0;
        display: block;
        float: left;
        margin-right: 5px;
    }
    li {
        display: block;
        width: 100%;
        margin: 10px;
        padding: 10px;
        min-height: 200px;
        position: relative;
        z-index: 1;
        overflow: hidden;
        &:before {
            content: "";
            position: absolute;
            left: 0;
            right: 0;
            bottom: 0;
            top: 0;
            background: rgba(127, 127, 127, 0.3);
            background-image: linear-gradient( 45deg, black 15%, transparent 15%, transparent 85%, black 85%, black), linear-gradient( 45deg, black 15%, transparent 15%, transparent 85%, black 85%, black), linear-gradient(-45deg, black 15%, transparent 15%, transparent 85%, black 85%, black), linear-gradient(-45deg, black 15%, transparent 15%, transparent 85%, black 85%, black);
            background-size: 3px 3px;
            z-index: -1;
            transition: all 300ms ease-in-out;
        }
        &:after {
            content: "";
            position: absolute;
            left: 0;
            right: 0;
            bottom: 0;
            top: 0;
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center center;
            z-index: -2;
            transition: all 400ms ease-in-out;
        }
        &:hover:after {
            transform: scale(1.1);
        }
        &:hover:before {
            background: rgba(127, 127, 127, 0.1);
        }
    }
    .episode-1:after {
        background-image: url(./build/media/episode-1.jpg);
    }
    .episode-2:after {
        background-image: url(./build/media/episode-2.jpg);
    }
    .episode-3:after {
        background-image: url(./build/media/episode-3.jpg);
    }
    .episode-4:after {
        background-image: url(./build/media/episode-4.jpg);
    }
    .episode-5:after {
        background-image: url(./build/media/episode-5.jpg);
    }
    .episode-vimeo:after {
        background-image: url(./build/media/episode-vimeo.jpg);
    }
    .btn {
        display: inline-block;
        position: absolute;
        bottom: 10px;
        right: 10px;
        transition: all 0.2s linear;
        &:hover,
        &:focus {
            color: $pink;
            border-color: $pink;
        }
    }
}

@media all and (min-width: 40em) {
    .episodes-list li {
        width: calc(50% - 20px);
    }
}

@media all and (min-width: 60em) {
    .episodes-list li {
        width: calc(33.333% - 20px);
    }
}