.section-footer {
    background: $grad-purple;
    color: $white;
    padding: 30px 0;
    a {
        color: $white;
        text-decoration: none;
    }
    p {
        padding: 0 0 14px 0;
    }
    .header-l {
        padding-bottom: 10px;
    }
    ul {
        display: flex;
        flex-wrap: wrap;
    }
    li {
        width: 50%;
        padding: 0 20px 20px 0;
    }
}

.back-to-top {
    position: fixed;
    right: 20px;
    bottom: 20px;
    opacity: 0;
    transition: all 300ms;
    display: block;
    text-indent: -2017em;
    background: transparent url(./build/media/circle-up.svg) no-repeat center center;
    background-size: 40px 40px;
    width: 40px;
    height: 40px;
    z-index: 10000;
    &.is-active {
        opacity: 1;
    }
}