/*header*/

.section-header {
    color: $white;
    padding-bottom: 140px;
    position: relative;
    min-height: 100vh;
    a {
        @extend .text-l;
        color: $white;
        text-decoration: none;
    }
    a.btn {
        transition: all 0.2s linear;
        &:hover,
        &:focus {
            color: $white;
            border-color: $white;
            opacity: 0.8;
        }
        &.btn-inactive {
            opacity: 0.7;
        }
    }
    &:before {
        content: "";
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        top: 0;
        background: black;
        z-index: -1;
    }
    select {
        @extend .text-m;
        background: none;
        color: $white;
        border: none;
        option {
            @extend .text-m;
            background: $black;
        }
    }
}

.video-background {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -2;
}

.header-main {
    text-align: center;
}

.logo-main {
    background: url(./build/media/KC-Logo-gold.png) no-repeat 0 0;
    margin: 0 auto;
    text-indent: -2017em;
    width: 280px;
    height: 375px;
}

@media all and (min-width: 60em) {
    .main-nav {
        text-align: right;
        display: block;
        padding-bottom: 60px;
        li {
            display: inline-block;
            padding: 20px 0 20px 20px;
        }
    }
}

@media all and (max-width: 60em) {
    .header-main {
        padding-top: 100px;
    }
}

@media all and (max-width: 30em) {
    .section-header .btn {
        display: block;
        margin: 0 auto 10px auto;
        max-width: 90%;
    }
    .section-header select {
        margin: 1px 0 0 -5px;
    }
}

.video-controls button {
    display: none;
}

.social {
    float: right;
    a {
        display: inline-block;
        background-color: transparent;
        background-size: 39px 39px;
        background-position: center center;
        background-repeat: no-repeat;
        width: 39px;
        height: 39px;
        margin: 0 20px 0 0;
        text-indent: -2017em;
        cursor: pointer;
        float: right;
        &:hover {
            opacity: 0.7;
        }
    }
    .social-fb {
        background-image: url(./build/media/facebook.svg);
    }
    .social-vimeo {
        background-image: url(./build/media/vimeo.svg);
    }
    .social-youtube {
        background-image: url(./build/media/youtube.svg);
    }
    .social-instagram {
        background-image: url(./build/media/instagram.svg);
    }
}

.enhanced {
    body {
        overflow-x: hidden;
    }
    .section-header:before {
        content: "";
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        top: 0;
        background: rgba(127, 127, 127, 0.3);
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8' viewBox='0 0 8 8'%3E%3Cg fill='%236a666f' fill-opacity='0.4'%3E%3Cpath fill-rule='evenodd' d='M0 0h4v4H0V0zm4 4h4v4H4V4z'/%3E%3C/g%3E%3C/svg%3E");
        z-index: -1;
    }
    .video-controls {
        display: block;
        position: absolute;
        bottom: 30px;
        left: 0;
        right: 0;
        padding: 0 25px;
        button {
            display: inline;
            border: none;
            background-color: transparent;
            background-size: 30px 30px;
            background-position: center center;
            background-repeat: no-repeat;
            width: 39px;
            height: 39px;
            margin: 0 20px 0 0;
            text-indent: -2017em;
            border: 1px solid $white;
            cursor: pointer;
            &:hover {
                opacity: 0.7;
            }
        }
        [data-status="play"] {
            background-image: url(./build/media/pause.svg);
        }
        [data-status="pause"] {
            background-image: url(./build/media/play.svg);
        }
        [data-volume="on"] {
            background-image: url(./build/media/volume-off.svg);
        }
        [data-volume="off"] {
            background-image: url(./build/media/volume-on.svg);
        }
    }
    .main-nav button {
        margin: 10px 0;
        background: none;
        color: #fff;
        border: none;
        padding: 8px;
        cursor: pointer;
        position: absolute;
        z-index: 100;
        right: 20px;
        top: 10px;
        width: 60px;
        height: 45px;
        transform: rotate(0deg);
        transition: .5s ease-in-out;
        span {
            display: block;
            position: absolute;
            height: 6px;
            width: 100%;
            background: $white;
            border-radius: 0;
            opacity: 1;
            left: 0;
            text-indent: -2017em;
            transform: rotate(0deg);
            transition: .25s ease-in-out;
        }
        span:nth-child(1) {
            background: none;
        }
        span:nth-child(2) {
            top: 0px;
        }
        span:nth-child(3),
        span:nth-child(4) {
            top: 18px;
        }
        span:nth-child(5) {
            top: 36px;
        }
    }
    .menu-open.size-small {
        .main-nav button {
            span:nth-child(2) {
                top: 18px;
                width: 0%;
                left: 50%;
            }
            span:nth-child(3) {
                transform: rotate(45deg);
            }
            span:nth-child(4) {
                transform: rotate(-45deg);
            }
            span:nth-child(5) {
                top: 18px;
                width: 0%;
                left: 50%;
            }
        }
    }
    .size-small .main-nav ul {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        height: 100vh;
        width: 100vw;
        background: $grad-purple;
        opacity: 0;
        z-index: -1;
        text-align: center;
        padding-top: 100px;
        transition: all 300ms ease-in-out;
        li {
            display: block;
            text-align: center;
            padding: 0 0 10px 0;
            margin: 0 auto 10px auto;
            width: 400px;
            max-width: 90%;
        }
        a:after {
            display: none;
        }
    }
    .menu-open.size-small .main-nav ul {
        opacity: 1;
        z-index: 1;
    }
}