/*header*/

.section-header {
    color: $white;
    padding-bottom: 140px;
    position: relative;
    a {
        @extend .text-l;
        color: $white;
        text-decoration: none;
    }
    &:before {
        content: "";
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        top: 0;
        background: rgba(127, 127, 127, 0.3);
        background-image: linear-gradient( 45deg, black 15%, transparent 15%, transparent 85%, black 85%, black), linear-gradient( 45deg, black 15%, transparent 15%, transparent 85%, black 85%, black), linear-gradient(-45deg, black 15%, transparent 15%, transparent 85%, black 85%, black), linear-gradient(-45deg, black 15%, transparent 15%, transparent 85%, black 85%, black);
        background-size: 3px 3px;
        z-index: -1;
    }
}

.video-background {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -2;
}

.header-main {
    text-align: center;
}

.logo-main {
    background: url(./build/media/KC-Logo-gold.png) no-repeat 0 0;
    margin: 0 auto;
    text-indent: -2017em;
    width: 280px;
    height: 375px;
}

@media all and (min-width: 60em) {
    .main-nav {
        text-align: right;
        display: block;
        padding-bottom: 140px;
        li {
            display: inline-block;
            padding: 20px 0 20px 20px;
        }
    }
}

@media all and (max-width: 30em) {
    .section-header .btn {
        display: block;
        margin: 0 auto 10px auto;
        max-width: 90%;
    }
}

.enhanced {
    .video-controls {
        position: absolute;
        bottom: 30px;
        left: 30px;
        button {
            border: none;
            background-color: transparent;
            background-size: 30px 30px;
            background-position: center center;
            background-repeat: no-repeat;
            width: 39px;
            height: 39px;
            margin: 0 20px 0 0;
            text-indent: -2017em;
            border: 1px solid $white;
            cursor: pointer;
        }
        [data-status="play"] {
            background-image: url(./build/media/play.svg);
        }
        [data-status="pause"] {
            background-image: url(./build/media/pause.svg);
        }
        [data-volume="on"] {
            background-image: url(./build/media/volume-off.svg);
        }
        [data-volume="off"] {
            background-image: url(./build/media/volume-on.svg);
        }
    }
    .main-nav button {
        margin: 10px 0;
        background: none;
        color: #fff;
        border: 1px solid white;
        padding: 8px;
        cursor: pointer;
    }
    .size-small .main-nav ul {
        height: 0;
        overflow: hidden;
        transition: all 300ms ease-in-out;
    }
    .menu-open.size-small .main-nav ul {
        min-height: 200px;
    }
}