.section-plotline {
    padding: 0 0 30px 0;
    .header-xl {
        background-color: $red;
        text-align: center;
        color: $blue;
        padding: 30px 0;
        text-transform: uppercase;
    }
}

.plotline-list {
    display: flex;
    flex-wrap: wrap;
    div {
        background: $blue;
        color: $white;
        margin: 10px;
        padding: 10px;
    }
    p {
        margin-top: 10px;
    }
}

@media all and (min-width: 40em) {
    .plotline-list div {
        width: calc(50% - 20px);
    }
}

@media all and (min-width: 60em) {
    .plotline-list div {
        width: calc(33.333% - 20px);
    }
}

.plotline-episodes-list {
    display: none;
}


/* enhanced version */

@media all and (min-width: 730px) {
    .enhanced {
        .plotline-list {
            background: transparent url(./build/media/world-map.png) no-repeat center center;
            background-size: contain;
            position: relative;
            min-height: 500px;
            div {
                position: absolute;
                opacity: 0;
                transition: all 400ms ease-in-out;
            }
            div[data-active] {
                opacity: 1;
            }
        }
        .plotline-episodes-list {
            position: absolute;
            bottom: 0;
            left: 10px;
            display: flex;
            right: 10px;
            width: 90%;
            width: calc(100% - 20px);
            li {
                width: 20%;
                padding: 0 20px;
            }
            button {
                border: none;
                background: $black;
                color: $white;
                padding: 8px;
                width: 100%;
                cursor: pointer;
            }
        }
    }
}