.section-protagonists {
    .header-xl {
        background-color: $red;
        text-align: center;
        color: $blue;
        padding: 30px 0;
        text-transform: uppercase;
    }
}

.protagonists-list {
    padding: 30px 0;
    display: flex;
    flex-wrap: wrap;
    li {
        display: block;
        width: 100%;
        margin: 10px;
        padding: 10px;
        overflow: hidden;
        min-height: 246px;
        z-index: 1;
        overflow: hidden;
        position: relative;
        div {
            transform: translateY(186px);
            transition: all 400ms ease-in-out;
            color: $white;
        }
        &:before {
            background: rgba(127, 127, 127, 0);
            transition: all 300ms ease-in-out;
        }
        &:after {
            content: "";
            position: absolute;
            left: 0;
            right: 0;
            bottom: 0;
            top: 0;
            background-size: contain;
            background-repeat: no-repeat;
            background-position: center center;
            z-index: -2;
            transition: all 400ms ease-in-out;
        }
        &:hover:after {
            transform: scale(1.1);
        }
        &:hover:before {
            background: rgba(127, 127, 127, 0.6);
        }
        &.protagonist-1:after {
            background-image: url(./build/media/protagonist-1.jpg);
        }
        &.protagonist-2:after {
            background-image: url(./build/media/protagonist-2.jpg);
        }
        &.protagonist-3:after {
            background-image: url(./build/media/protagonist-3.jpg);
        }
        &.protagonist-4:after {
            background-image: url(./build/media/protagonist-4.jpg);
        }
        &.protagonist-5:after {
            background-image: url(./build/media/protagonist-5.jpg);
        }
        &.protagonist-6:after {
            background-image: url(./build/media/protagonist-6.jpg);
        }
        &.protagonist-7:after {
            background-image: url(./build/media/protagonist-7.jpg);
        }
        &.protagonist-8:after {
            background-image: url(./build/media/protagonist-8.jpg);
        }
        &.protagonist-9:after {
            background-image: url(./build/media/protagonist-9.jpg);
        }
        &.protagonist-10:after {
            background-image: url(./build/media/protagonist-10.jpg);
        }
        &.protagonist-11:after {
            background-image: url(./build/media/protagonist-11.jpg);
        }
        &.protagonist-12:after {
            background-image: url(./build/media/protagonist-12.jpg);
        }
        &.protagonist-13:after {
            background-image: url(./build/media/protagonist-13.jpg);
        }
        &.protagonist-14:after {
            background-image: url(./build/media/protagonist-14.jpg);
        }
        &.protagonist-15:after {
            background-image: url(./build/media/protagonist-15.jpg);
        }
        h3 {
            padding: 0 0 20px 0;
        }
        &:hover div {
            transform: translateY(0);
        }
    }
}

@media all and (min-width: 40em) {
    .protagonists-list li {
        width: calc(50% - 20px);
    }
}

@media all and (min-width: 60em) {
    .protagonists-list li {
        width: calc(33.333% - 20px);
    }
}