.section-texts {
    a {
        color: $white;
        text-decoration: none;
    }
    .header-xl {
        background-color: $red;
        text-align: center;
        color: $blue;
        padding: 30px 0;
        text-transform: uppercase;
    }
    .header-m {
        color: $white;
        margin-bottom: 5px;
    }
}

.texts-list {
    padding: 30px 16px;
    display: flex;
    flex-wrap: wrap;
    li {
        display: block;
        width: 100%;
        margin: 10px;
        padding: 10px;
        min-height: 200px;
        position: relative;
        background: $grad-citrus;
        z-index: 1;
    }
    .btn {
        display: inline-block;
        position: absolute;
        bottom: 10px;
        right: 10px;
    }
}

@media all and (min-width: 40em) {
    .texts-list li {
        width: calc(50% - 20px);
    }
}

@media all and (min-width: 60em) {
    .texts-list li {
        width: calc(33.333% - 20px);
    }
}