@import 'base/variables.css';
@import 'base/typography.css';
@import 'base/grid.css';
@import 'base/general.css';
@import 'sections/header.css';
@import 'sections/about.css';
@import 'sections/plotline.css';
@import 'sections/episodes.css';
@import 'sections/protagonists.css';
@import 'sections/bottom.css';
@import 'sections/footer.css';