.page-texts {
    header {
        background: $grad-purple;
        padding: 20px 0;
        min-height: 200px;
        .col-12 {
            display: block;
        }
        a {
            width: 180px;
            height: 200px;
            background: url(./static/logo-black.png) no-repeat 0 0;
            background-size: contain;
            display: block;
            float: left;
            margin-left: -20px;
            margin-right: 20px;
            text-indent: -2017em;
        }
        h1 {
            color: $white;
            margin-left: 180px;
            line-height: 110px;
            margin-right: 180px;
        }
        h2 {
            margin-left: 180px;
            margin-right: 180px;
        }
    }
    main {
        display: block;
        margin-top: 30px;
        a {
            color: $blue;
        }
    }
    aside {
        width: 160px;
        float: left;
        margin-right: 20px;
        margin-top: 10px;
        margin-left: 180px;
        p {
            padding: 0 0 4px 0;
        }
        a {
            text-decoration: none;
        }
    }
    section {
        float: right;
        margin-bottom: 40px;
        width: calc(100% - 360px);
        padding-right: 180px;
        p {
            font-family: $average;
            font-size: 22px;
            line-height: 26px;
            font-weight: 400;
            margin: 10px 0 0 0;
        }
        p:first-of-type:first-letter {
            float: left;
            font-size: 60px;
            line-height: 50px;
            margin: 0 6px 0 0;
        }
    }
    footer {
        clear: both;
        margin-left: 360px;
        padding-top: 20px;
        border-top: 1px solid $lightblack;
        width: 250px;
        ol {
            margin: 10px 0;
            padding: 0 0 0 15px;
        }
        li {
            padding: 0 0 4px 0;
        }
        .btn {
            display: inline-block;
            color: $black;
            border-color: $black;
            text-decoration: none;
            margin: 20px 0 40px 0;
            transition: all 0.2s linear;
            &:hover,
            &:focus {
                color: $pink;
                border-color: $pink;
            }
        }
    }
}

@media all and (max-width: 1000px) {
    .page-texts header h1,
    .page-texts header h2 {
        margin-right: 0;
    }
    .page-texts section {
        padding-right: 0;
    }
}

@media all and (max-width: 800px) {
    .page-texts aside {
        margin-left: 0;
    }
    .page-texts section {
        width: calc(100% - 180px);
    }
    .page-texts footer {
        margin-left: 180px;
    }
}

@media all and (max-width: 600px) {
    .page-texts header a {
        width: 100px;
        height: 100px;
        float: none;
        margin: 0 auto;
    }
    .page-texts header h1,
    .page-texts header h2 {
        margin: 0 auto;
        font-size: 40px;
        line-height: 44px;
        text-align: center;
    }
}

@media all and (max-width: 480px) {
    .page-texts aside,
    .page-texts section,
    .page-texts footer {
        float: none;
        width: 100%;
        margin-left: 0;
    }
}